$icomoon-font-path: "fonts" !default;

$groot-icon-cog: "\e994";
$groot-icon-menu: "\e9bd";
$groot-icon-menu-down: "\e9bf";
$groot-icon-menu-up: "\e9c0";
$groot-icon-plus: "\ea0a";
$groot-icon-minus: "\ea0b";
$groot-icon-cancel-circle: "\ea0d";
$groot-icon-circle-up: "\ea41";
$groot-icon-circle-down: "\ea43";

